@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	width: 100%;

	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

	background-color: #e3f0f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f9ff), to(#d6e8f2));
	background-image: -webkit-linear-gradient(top, #f0f9ff, #d6e8f2);
	background-image: -moz-linear-gradient(top, #f0f9ff, #d6e8f2);
	background-image: linear-gradient(top, #f0f9ff, #d6e8f2);
}

.wrapper {
	width: 500px;

	position: relative;

	margin: 0 auto;
}

header#banner {
	position: relative;

	text-align: center;
}

header#banner h1 {
	position: absolute;

	height: 200px;
	width: 100%;

	top: 50%;
	left: 0;

	margin: -100px 0;

	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-size: 64px;
	font-family: 'Futura', sans-serif;
	text-shadow: 0 5px 0 rgba(0, 0, 0, 0.4);
	-webkit-user-select: none;

	z-index: 5;
}

header#banner #sky {
	height: 250px;
	width: 100%;

	position: relative;

	background-color: #cbe4f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bbd7ed), to(#dbf1fa));
	background-image: -webkit-linear-gradient(top, #bbd7ed, #dbf1fa);
	background-image: linear-gradient(top, #bbd7ed, #dbf1fa);
}

header#banner .iceberg {
	z-index: 5;
}

header#banner .iceberg1 {
	background: url('../images/iceberg1.png') top left no-repeat;
	width: 117px;
	height: 84px;

	position: absolute;
	bottom: -5px;
	left: 80%;
}

header#banner .iceberg2 {
	background: url('../images/iceberg2.png') top left no-repeat;
	width: 165px;
	height: 60px;

	position: absolute;
	bottom: -5px;
	left: -50px;
}

header#banner #ice {
	height: 5px;
	width: 100%;

	position: relative;
}

header#banner #ice .sheet {
	height: 5px;
	width: 100%;

	position: absolute;
	bottom: 0;
	left: 0;

	z-index: 6;

	background: #ffffff;
}

header#banner #water {
	height: 15px;
	width: 100%;

	background: #bbd8ed;
}

header#banner #edge {
	height: 10px;
	width: 100%;

	background-color: #e6f0f3;
	background-image: -webkit-gradient(linear, left center, right center, from(#edeced), to(#e0f4fa));
	background-image: -webkit-linear-gradient(left, #edeced, #e0f4fa);
	background-image: linear-gradient(left, #edeced, #e0f4fa);
}

#wrapper {
	width: 100%;
}

#content {
	padding-top: 20px;
}

#content > h2 {
	text-align: center;

	font-size: 40px;

	padding-top: 20px;
	padding-bottom: 20px;
}

@-webkit-keyframes skate {
	0%, 100% {
		left: 10%;
		-webkit-transform: rotateY(0);
	}
	45% {
		left: 90%;
		-webkit-transform: rotateY(0);
	}
	50% {
		left: 90%;
		-webkit-transform: rotateY(180deg);
	}
	95% {
		left: 10%;
		-webkit-transform: rotateY(180deg);
	}
}

@-webkit-keyframes waddle {
	0%, 100% {
		-webkit-transform: rotateZ(-2deg);
	}
	50% {
		-webkit-transform: rotateZ(2deg);
	}
}

#ice .penguin {
	position: absolute;
	bottom: -1px;

	z-index: 1;
	
	-webkit-animation: skate 60s infinite;
	-webkit-animation-timing-function: linear;

	-webkit-transform-origin: center bottom;
}

.mr-t {
	width: 15px;
	height: 24px;
}

.mr-t object {
	-webkit-animation: waddle 0.2s infinite;
}

article header {
	text-align: left;

	margin-bottom: 10px;
}

article header h3 {
	font-size: 35px;
}

article img {
	display: block;

	margin: 0 auto;
	margin-bottom: 10px;

	width: 488px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

article p {
	font-size: 15px;
	line-height: 25px;
}

article footer {
	margin-top: 10px;

	font-size: 15px;
}

article footer ul {
	display: block;

	list-style: none;

	font-size: 0;
}

article footer li {
	display: inline-block;

	padding: 0 10px;

	font-size: 15px;

	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

article footer li:first-child {
	padding-left: 0;
}

article footer li:last-child {
	padding-right: 0;

	border: none;
}

article footer li a {
	display: inline-block;

	color: #333;
	text-decoration: none;
	font-weight: bold;
}

article footer li a:hover {
	color: #000;
}

#content > footer {
	margin-top: 20px;
	padding: 10px 0;

	border-top: 1px solid rgba(0, 0, 0, 0.1);

	text-align: center;
	font-size: 15px;
}