* {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	width: 100%;

	font-family: "Helvetica", sans-serif;
}

#content {
	height: 100%;
	width: 500px;

	margin: 0 auto;
}

header#banner {
	position: relative;

	text-align: center;
	color: transparent;
}

header#banner h1 {
	position: absolute;

	height: 200px;
	width: 200px;

	top: 50%;
	left: 50%;

	margin: -100px -100px;
}

header#banner #sky {
	height: 200px;
	width: 100%;

	background-color: #cbe4f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bbd7ed), to(#dbf1fa));
	background-image: -webkit-linear-gradient(top, #bbd7ed, #dbf1fa);
	background-image: linear-gradient(top, #bbd7ed, #dbf1fa);
}

header#banner #ice {
	height: 4px;
	width: 100%;

	background: #ffffff;
}

header#banner #water {
	height: 15px;
	width: 100%;

	background: #bbd8ed;
}

header#banner #edge {
	height: 10px;
	width: 100%;

	background-color: #e6f0f3;
	background-image: -webkit-gradient(linear, left center, right center, from(#edeced), to(#e0f4fa));
	background-image: -webkit-linear-gradient(left, #edeced, #e0f4fa);
	background-image: linear-gradient(left, #edeced, #e0f4fa);
}

#wrapper {
	height: 100%;
	width: 100%;

	background-color: #e3f0f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f9ff), to(#d6e8f2));
	background-image: -webkit-linear-gradient(top, #f0f9ff, #d6e8f2);
	background-image: -moz-linear-gradient(top, #f0f9ff, #d6e8f2);
	background-image: linear-gradient(top, #f0f9ff, #d6e8f2);
}

#content > h2 {
	text-align: center;

	font-size: 40px;

	padding-top: 20px;
	padding-bottom: 20px;
}

article header {
	text-align: left;

	margin-bottom: 10px;
}

article header h3 {
	font-size: 35px;
}

article img {
	display: block;

	margin: 0 auto;
	margin-bottom: 10px;

	border-radius: 6px;
}

article p {
	font-size: 15px;
	line-height: 20px;
}

article footer {
	margin-top: 5px;

	font-size: 15px;
}

article footer ul {
	display: block;

	list-style: none;

	font-size: 0;
}

article footer li {
	display: inline-block;

	padding: 0 5px;

	font-size: 15px;

	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

article footer li:first-child {
	padding-left: 0;
}

article footer li:last-child {
	padding-right: 0;

	border: none;
}

article footer li a {
	display: inline-block;

	color: #333;
	text-decoration: none;
	font-weight: bold;
}

article footer li a:hover {
	color: #000;
}

#content > footer {
	margin-top: 15px;
	padding: 15px 0;

	border-top: 1px solid rgba(0, 0, 0, 0.2);

	font-size: 15px;
}